<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content" align="center">
      <div class="modal-header">
        <h5 class="modal-title">Friend's!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="border: 5px solid BLUE; width: 50%;"></p>
        <h1>Friend's!</h1>

        <h2>Hello <%= @resource.email %></h2>

        <p>At:<b><%= Time.now.getutc %></b> you have requested a link to change your password.
        <p>Please click the appropriate button below.</p>
        <button type="button" class="btn btn-primary"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></button>

        <p>If you didn't request this, please ignore this email.</p>

        <p><b>N.B.Your password won't change until you access the link above and create a new one.</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Not Me</button>
        <p style="border: 5px solid BLUE; width: 50%;"></p>
      </div>
    </div>
  </div>
</div>
